.vs/

*.vsidx
*.suo
*.vscache
*.ncb
*.wsp
*.user
*.userosscache
*.sln.docstates

*.db
*.db-shm
*.db-wal
*.opendb
*.ipch

[Dd]ebug/
[Rr]elease/
x64/
x86/
ARM/
ARM64/

*.obj
*.ilk
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.exe
*.dll

DocumentLayout.json